<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DressCode</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <a href="index.html" class="title"><h1>DRESS CODE</h1></a>
    </header>    
    <nav class="main-nav">
        <ul>
            <li><a href="index.html" class="inicio">INICIO</a></li>
            <li><a href="productos.html">PRODUCTOS</a></li>
            <li><a href="https://www.instagram.com/dresscode_oficial/" target="_blank">INSTAGRAM</a></li>
        </ul>
    </nav>
    <%- body %> 
    <footer class="footer footer-container">
        <ul>
            <li>
                <div>
                    <h3>NAVEGACION</h3>
                    <ul class="footer-nav">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="https://www.instagram.com/dresscode_oficial/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <h3>REDES SOCIALES</h3>
                    <a href="https://www.instagram.com/dresscode_oficial/" target="_blank">
                        <img src="Images/Instagram Logo.png" width="50">
                    </a>
                </div>
            </li>
        </ul>
    </footer>
</body>
</html>