<body>
    <img src="Images/Dress Code Logo.jpg" class="logo-img">
    <section class="content-section container">
        <h2>COMPRA MINIMA $3000 PARA RETIRAR $5000 PARA ENVIO</h2>
        <P>TRABAJANDO A PUERTAS CERRADAS! Ante cualquier duda hablanos por Whatsapp con el boton verde al costado de la pagina</P>
    </section>
    <section class="content-section container">
        <div class="shop-items">
            <div>
                <a href="https://www.dresscodeoficial.com/productos/vestido-lanilla/">
                    <img src="Images/VESTIDO LANILLA.jpeg" class="shop-item-img">
                </a>
                <div><a href="https://www.dresscodeoficial.com/productos/vestido-lanilla/">VESTIDO LANILLA</a></div>
                <div><strong>$990,00</strong></div>
            </div>
            <div>
                <a href="https://www.dresscodeoficial.com/productos/poleron-lanilla/">
                    <img src="Images/POLERON LANILLA.jpeg" class="shop-item-img">
                </a>
                <div><a href="https://www.dresscodeoficial.com/productos/poleron-lanilla/">POLERON LANILLA</a></div>
                <div><strong>$850,00</strong></div>
            </div>
            <div>
                <a href="https://www.dresscodeoficial.com/productos/sweater-lanilla/">
                    <img src="Images/SWEATER LANILLA.jpeg" class="shop-item-img">
                </a>
                <div><a href="https://www.dresscodeoficial.com/productos/sweater-lanilla/">SWEATER LANILLA</a></div>
                <div><strong>$690,00</strong></div>
            </div>
            <div>
                <a href="https://www.dresscodeoficial.com/productos/buzo-lanilla/">
                    <img src="Images/BUZO LANILLA.jpeg" class="shop-item-img">
                </a>
                <div><a href="https://www.dresscodeoficial.com/productos/buzo-lanilla/">BUZO LANILLA</a></div>
                <div><strong>$650,00</strong></div>
            </div>
        </div>
    </section>
    <script src='index.js'></script>
</body>
</html>